p{
    color: #000000;
    text-align: center;
    padding-top: 20px;
}
h1{
    text-align: center;
    color: rgb(13, 210, 92);
}
div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
}
.icono_azul{
    font-size: 2.5em; 
    color: cornflowerblue;
}
.icono_rojo{
    font-size: 3em;
    color: crimson;
}
